<app-header titulo="Cards"></app-header>


<ion-content class="ion-padding">
    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Awesome Label</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque autem recusandae voluptatum beatae dolorum? Cumque expedita voluptatem modi aut incidunt impedit neque, quas excepturi esse deserunt in iure dolore optio!
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="https://images.pexels.com/photos/7704214/pexels-photo-7704214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, temporibus tenetur illum magni modi molestias voluptatibus sit qui itaque necessitatibus cumque a mollitia eum sunt exercitationem corporis molestiae nisi debitis.
        </ion-card-content>
    </ion-card>

</ion-content>